canvas {
    background-color: rgb(255,255,255);
    display: block;
    height: 100%;
    width: 100%;
}
body {
    margin: 0;
    display: block;
    height: 100%;
    width: 100%;
}
html {
    display: block;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
#info {
    position: absolute;
    white-space: pre;
    background-color: rgba(255, 255, 255, 0.5);
    width: 45px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: 'black';
    overflow: hidden;
    left: 0;
    top: 0;
    padding: 10px 30px 30px 10px;
    border-bottom-right-radius: 90%;
}
#left-d-pad-zone {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
}
#right-d-pad-zone {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
}